* {
    color: #eee;
    font-family: Raleway, sans-serif;
}
body {
    background: #123;
    margin: 1rem 0;
    padding: 0;
}
.avatar {
    border: 0.125rem solid #eee;
    border-radius: 50%;
    height: 14rem;
    margin: 2rem auto 0 auto;
    overflow: hidden;
    width: 14rem;
}
.avatar img {
    width: 100%;
}
h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: 1rem 0 0.5rem 0;
}
h2 {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: right;
    margin: 0;
}
.container-dados {
    text-align: center;
    margin-bottom: 2rem;
}
.container-dados div {
    display: inline-block;
}
ul {
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
}
ul li {
    padding: 0.5rem 0;
}
ul li:hover {
    background: #234;
}
ul a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
ul img {
    height: 4rem;
    vertical-align: middle;
}
ul span {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 4rem;
    margin-left: 2rem;
    text-align: left;
    width: 10rem;
}
hr {
    border-width: 0.125rem 0 0 0;
    border-color: #eee;
    margin: 0;
}
