* {
    color: #eee;
    font-family: Raleway, sans-serif;
}
body {
    background-attachment: fixed;
    background-image: url("/img/background.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}
.logo {
    border: solid #276955;
    border-width: 0 0.065rem 0.065rem 0.065rem ;
    border-radius: 0 0 3rem 3rem;
    margin-left: 2rem;
    float: left;
    padding-bottom: 2rem;
}
.logo img {
    width: 5rem;
}
.avatar {
    border: 0.125rem solid #276955;
    border-radius: 50%;
    height: 14rem;
    margin: 2rem auto 0 auto;
    overflow: hidden;
    width: 14rem;
}
.avatar img {
    width: 100%;
}
h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: 1rem 0 0.5rem 0;
}
h2 {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: right;
    margin: 0;
}
.container-dados {
    text-align: center;
    margin-bottom: 2rem;
}
.container-dados div {
    display: inline-block;
}
.container-bio {
    line-height: 2rem;
    text-align: center;
}
.container-bio p {
    margin: 3rem 1rem;
}
ul {
    border-radius: 1rem;
    list-style: none;
    margin: 1rem;
    padding: 0;
}
ul li {
    padding: 0.5rem 0;
}
ul a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
ul li:hover a span {
    color: #276955;
}
ul img {
    height: 4rem;
    vertical-align: middle;
}
ul span {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 4rem;
    margin-left: 2rem;
    text-align: left;
    width: 10rem;
}
div.background-transparent {
    background: transparent;
    padding: 5rem 0;
}
div.background-theme {
    background: #276955;
    padding: 5rem 0;
}
div.footer {
    padding: 0;
}
div.footer p {
    text-align: center;
}
.logo-transparent-container {
    text-align: center;
}
.logo-transparent-container img {
    max-width: 100%;
    width: 30rem;
}
